.message-card {
    color: white;
    width: auto;
    height: auto;
    background: rgba(40, 40, 40, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
}