.icon-forecast {
    width: 27px;
}

.icon-forecast-modal {
    width: 40px;
    margin-left: 10px;
}
.modal-body{
    text-align: center;
}

.forecast-date{
    font-size: 14px;
}

.btn-close{
    color: white;
}

.modal-content {
    color: white;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
}

.modal-header {
    border: none;
}